@media (max-width: 600px) {

    #header-shadow{
        height: 300px;
    }
    
    main {
        padding: 10px;
    }


    .section {
        
        flex-basis: 100%;
        min-width: unset; 
        margin: 10px 0;
    
        text-align: center;
    }


    #header h1 {
        font-size: 2em; 
        line-height: 1.1;
    }

    #header p {
        font-size: 0.9em;
    }
    

    #redes-sociales ul {
        padding-left: 0; 
        text-align: center;
    }
    
 
    #redes-sociales li {
        display: inline-block;
        margin: 5px 10px;
    }

    #background {
        background-size: 50% 20%, 50% 20%, 50% 20%, 50% 20%;
    }
}