/* Los estilos se aplican a todo el documento */
#header{
    
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(0, 229, 255);
    
    
}


h2{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;;
}

body {

    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
    

}

