/* Los estilos se aplican a todo el documento */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

    background-image: linear-gradient(to right, rgba(242, 238, 10, 0.45) 2%,rgba(68, 124, 255, 0.616) 50%, rgba(69, 225, 252, 0.413) 100%), url('../assets/images/background.png');
    background-attachment: fixed, fixed;
    background-size: cover, 100% 100%;
    background-position: center center, 0 0;
    background-repeat: no-repeat, no-repeat;
           
}

.profile{
    border-radius: 100px;
    width: 125px;
    height: 200px;
}

#sobre-mi{
    width: 600px;
}

#habilidades{
    width: 600px;
}
#estudios{
    width: 600px;
}

#hobbies{
    width: 300px;
}
#redes-sociales{
    width: 600px;
}
.section{
    text-align: center;
    border: 2px solid #000;
    border-radius: 100px;
    padding: 0px;
    margin: 30px;
    background-color: rgba(255, 248, 225, 0.8%);
    backdrop-filter: blur(10px);
}

.icons {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    box-shadow: 2px 2px 0px var(--color-oscuro); 
    border-radius: 50%;
    margin: 0 10px;
}

.icons:hover {
    transform: scale(1.2) rotate(5deg);
    filter: brightness(1.2);
    cursor: pointer;
}