@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {

    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
    

}


#header{
    
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(0, 229, 255);
    
    
}


h2{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;;
}


